/* ----------
font-family: 'Lobster', cursive;
font-family: 'Merriweather', serif;
------------*/


*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    font-family: 'Merriweather', serif;
}

body h1,
body h2{
    font-family: 'Lobster', cursive;
}

.main-head{
    background-image: url("../img/web-bg.jpg");
    height: 100vh;
    width: auto;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header .main-head h1{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-size: 36px;
    border: 2px solid black;
    padding: 20px 30px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.main-head h1:hover{
    background-color: black;
    color: white;    
    cursor: pointer;
}


h2{
    font-size: 35px;
    
}

.end{
    background-color: black;
    color: white;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
}



.section {
  position: relative;
  max-width: 100%;
  padding: 40px;
  margin: auto;
  background-color: white;
  color: black;
}
.section.bg-static {
  min-height:50vh;
  background-color: #85c1e9;
  background-image: url("https://www.dropbox.com/s/v4u0mpzfplgjxaq/img-blog-background-move-scrolling-bg.png?raw=1");
  background-size: cover;
  background-position: center;
}
.section .bg-move {
  position: absolute;
  top: 0;
  bottom: 0;
  right: auto;
  width: 100%;
  background-image: url("https://www.dropbox.com/s/isdqow2394y3t35/img-blog-background-move-scrolling-boat.png?raw=1");
  background-size: cover;
  background-position: center;
}

.section2 {
  position: relative;
  max-width: 100%;
  padding: 40px;
  margin: auto;
  background-color: white;
  color: black;
}
.section2.bg-static2 {
  min-height:50vh;
  background-color: #85c1e9;
  background-image: url(../img/road.jpg);
  background-size: cover;
  background-position:bottom;
}
.section2 .bg-move2 {
  position: absolute;
  top: 15%;
  bottom: 0;
  left: auto;
  width:400px;
  background-image: url(../img/car.png);
  height: 200px;
  background-size: cover;
  background-position: center;
}

.space{
    padding: 20px;
}
.space h1{
    margin:30px 10px;
}

.space p{
    padding: 20px;
    margin-top: 20px;
}
